<!DOCTYPE html>
<html>
    <head>
<link rel="stylesheet" type="text/css" href="/css/econd.css"></head>
<link href="https://fonts.googleapis.com/css?family=Cinzel" rel="stylesheet">
<body>
    <div id="po1">
<form>
    
    <label for="file">Upload your csv file here!</label>
    <input type="file" value="file">
    
    <input type="submit">
    <br>  <br><br>
    <a href="sample.csv" download id="ty">Click here Download Sample CSV</a>
    
</form>
</div>
</body>
</html>


