<!DOCTYPE html>
<html>
<head>
	<title>Homepage</title>
	<link rel="stylesheet" type="text/css" href="/css/first.css">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link href="https://fonts.googleapis.com/css?family=Concert+One" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Cinzel|Concert+One|Fredoka+One|Rancho|Press+Start+2P|Cinzel" rel="stylesheet">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  


</head>
<body>
	<div id="red">
	<i class="fab fa-centos" id="tet"></i>
  

  
	<h1>Project Alpha</h1>

<div id="pf">

<a href="#">Home</a>
    <a href="#">Pages</a>
        <a href="#">Work</a>
    <a href="#">Blog</a>
        <a href="#">Starter</a>
    <a href="/logout">Log Out</a>
 <!--method to make a clicable icon//button-->
    <form  action="#">
  <input type="text" placeholder="Search.." name="search">
  <button type="submit" id="xc"><i class="fa fa-search"></i></button>
</form>



</div>

</div>

<div class="hu">
	<hr></hr>
	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
	tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
	quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
	consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
	cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
	proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
</p>

<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
</div>
<hr></hr>
<div class="hu"> <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
	
	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
	tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
	quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
	consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
	cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
	proident, sunt in culpa qui officia deserunt mollit anim id est laborum.<p></div>
<div id="table">

<table >
	
<tr>
	<td>
		<a href="buysell"><img src="iconfinder_food-truck-hamburger-sell-facility_3558117.svg" width="200px height="150px"></a>
        <p>SELL</p> 
        <h4>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo </h4>
	</td>
	
</tr>
<tr>
	<td>	<a href="/buysell"><img src="iconfinder_Citycons_bag_1342940.svg" width="200px" height="150px"></a>
	<p>BUY</p>
	<h4>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo </h4>
	</td>
</tr>
<tr>
	<td>	<a href="#"><img src="img.svg" width="200px" height="150px"></a>
	<p>Take a view</p>
	<h4>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo </h4>
	</td>
</tr>
<tr>
	<td><a href="#"><img src="iconfinder_File_Files_Folder_Document_Doc_Data_Upload_3909345.svg" width="200px" height="150px"></a>
	<p>Upload</p>
	<h4>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo </h4>
	</td>
</tr>

</table>
</div>
<hr></hr>
<h1 id="loved">Dashboard</h1>

<a href="#"><img src="iconfinder_658_dashboard_device_speed_test_internet_4017599.svg"  height="400px" id="lodu"></a>
<p id="loved">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore</p>
<h1>Key Features</h1>

<ul>
	
	<li class="h7">EXPLORE WITHOUT LOGIN <br><img src="iconfinder_Backpack_icon_1741326.svg" width="200px" height="150px"></li>
	<li class="h8">GET NOTIFIED <br><img src="iconfinder_christmas-flat-ten-bell_1660127.svg" width="200px" height="150px"></li>
	<li class="h7">BUY IN BULK <br><img src="iconfinder_dolly_1055070.svg " width="200px" height="150px"></li>
	<li class="h8">24*7 SERVICE <br><img src="iconfinder_Phone_2744956.svg" width="200px" height="150px"></li>
	<li class="h7">PRICE UPDATES <br><img src="iconfinder_Attribute_category_label_shop_price_price_tag_tag_1886315.svg" height="150px" width="200px;"></li>
	<li class="h8">STOCK SUGGESTIONS <br><img src="iconfinder_folder-dollar-coin_532642.svg" width="200px" height="150px"></li>


</ul>


<!--footer -->

<div id="lof">
  <div id="gh">

    <a href="#">About Us</a>
    <a href="#">Careers</a>
        <a href="#">Contact Us</a>
    <a href="#">Media Center</a>
        <a href="#">Site Map</a>
    <a href="#">Policy</a>
    </div>
    <div  id="pl">
    <a href="#" class="fa fa-facebook"></a>
<a href="#" class="fa fa-twitter"></a>
<a href="#" class="fa fa-google"></a>
<a href="#" class="fa fa-linkedin"></a>
<a href="#" class="fa fa-youtube"></a>
<a href="#" class="fa fa-instagram"></a>
<a href="#" class="fa fa-pinterest"></a>
<a href="#" class="fa fa-snapchat-ghost"></a>
<a href="#" class="fa fa-skype"></a>
<a href="#" class="fa fa-android"></a>
</div>

</div>
</body>
</html>